.TextInput {
    padding: 14px 18px;
    margin-top: 8px;
    font-size: var(---headline-size);
    background-color: var(---grey-1);
    color: var(---grey-3);
    border: none;
    border-radius: 5px;
    width: 100%;
}

.TextInput::-webkit-outer-spin-button,
.TextInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.TextInput::placeholder {
    color: var(---grey-3);
    transition: opacity 250ms ease-in-out, padding-left 250ms ease-in-out;
}

.TextInput:focus::placeholder {
    opacity: 0;
}

.TextInput:focus {
    background-color: white;
}

.TextInput:hover::placeholder {
    padding-left: 10px;
}

.TextInputLabel {
    font-size: var(---body-size);
}